{{> welcomemenu}}

<section class="ui raised segment" style="border: 1px solid #16551C">
  <div class="column">
    <img class="ui image" src="https://res.cloudinary.com/ngrant/image/upload/v1510221819/banner_pjxyci.jpg">
  </div>
  <br>
  <div class="ui grid">
    <aside class="six wide column">
      <img class="ui image" src="https://res.cloudinary.com/ngrant/image/upload/v1510223384/locations_ktwpup.png">
    </aside>
    <article class="ten wide column">
      <header class="ui  header">Welcome to Geo!</header>
      <p>Geocaching is a form of Orienteering or 'treasure hunting' that is run and
        maintained by the players themselves. The players can put a "cache" wherever
        they think is appropriate and set a location to it online, others can go visit
        it and usually leave notes for the next visitors.</p>
    </article>
  </div>
</section>

