{{> welcomemenu }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui fluid form">
        <form action="/register/false" method="POST">
          <h3 class="ui header">Register</h3>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input placeholder="First Name" type="text" name="firstName" maxlength="15" required value="Lisa">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input placeholder="Last Name" type="text" name="lastName" maxlength="15" required value="Simpson">
            </div>
          </div>
          <div class="field">
            <label>Date of Birth</label>
            <input placeholder="Date of Birth" type="text" name="dob" maxlength="15" required value="01/01/1993">
          </div>
          <div class="field">
            <label>Email</label>
            <input placeholder="Email" type="text" name="email" maxlength="20" required value="lisa@simpson.com">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="password" maxlength="15" required value="secret">
          </div>
          <button class="ui inverted button" style="background-color: #16551C">Submit</button>
        </form>
        {{> formerror }}
      </div>
    </div>
    <aside class="ui five wide column">
      <img class="ui image" src="https://res.cloudinary.com/ngrant/image/upload/v1510413181/compass_ojviuf.png" >
    </aside>
  </div>
</section>